<div class="formContainer">
  <form (submit)="submit()">
    <div class="form-group">
      <!-- <label for="nombre">Nombre:</label> -->
      <input placeholder="Nombre" type="text" id="nombre" name="nombre" [(ngModel)]="cancha.nombre" required>
    </div>
    <div class="form-group">
      <!-- <label for="horario">Horario:</label> -->
      <input placeholder="Horario" type="text" id="horario" name="horario" [(ngModel)]="cancha.horario" required>
    </div>
    <div class="form-group file-upload">
      <label for="foto">Foto:</label>
      <input type="file" id="foto" name="foto" accept="image/*" [(ngModel)]="cancha.foto" required>
      <span>(Solo se permiten archivos de imagen)</span>
      <!-- <img id="preview" src="#" alt="Vista previa de la foto" style="display: none;"> -->
    </div>
    <div class="form-group">
      <select id="tipo_cancha" name="tipo_cancha" required [(ngModel)]="cancha.tipo_cancha">
        <option value="" disabled selected>Seleccionar tipo de cancha</option>
        <option value="futbol">Fútbol</option>
        <option value="baloncesto">Baloncesto</option>
        <option value="microfutbol">Microfutbol</option>
        <option value="futbol de sala">Tenis</option>
      </select>
    </div>
    <div class="form-group">
      <input placeholder="Direccion" id="direccion" name="direccion" required [(ngModel)]="cancha.direccion"/>
    </div>
    <div class="EnviarBtnCnt">
      <input type="submit" value="Enviar" class="submit-button">
    </div>
  </form>

  <script>
    // Vista previa de la imagen seleccionada
    var fotoInput = document.getElementById('foto');
    var fotoPreview = document.getElementById('preview');

    fotoInput.addEventListener('change', function(event) {
      var reader = new FileReader();

      reader.onload = function() {
        fotoPreview.style.display = 'block';
        fotoPreview.setAttribute('src', reader.result);
      }

      reader.readAsDataURL(event.target.files[0]);
    });
  </script>
</div>
