<div class="dashboardCnt">
    <div class="dashboard-items">
        <a (click)="hrefChange('/')" class="itemCardCnt">
            <div class="itemIconCnt">
                <img src="https://www.politecnicojic.edu.co/images/logo/logo.png" class="itemCardIcon" alt="">
            </div>
            <h2 class="cardLabel">Lorem, ipsum.</h2>
            <h4 class="cardDescription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, ullam!</h4>
        </a>
    </div>
    <div class="dashboard-items">
        <a (click)="hrefChange('/')" class="itemCardCnt">
            <div class="itemIconCnt">
                <img src="https://www.politecnicojic.edu.co/images/logo/logo.png" class="itemCardIcon" alt="">
            </div>
            <h2 class="cardLabel">Lorem, ipsum.</h2>
            <h4 class="cardDescription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, ullam!</h4>
        </a>
    </div>
    <div class="dashboard-items">
        <a (click)="hrefChange('/')" class="itemCardCnt">
            <div class="itemIconCnt">
                <img src="https://www.politecnicojic.edu.co/images/logo/logo.png" class="itemCardIcon" alt="">
            </div>
            <h2 class="cardLabel">Lorem, ipsum.</h2>
            <h4 class="cardDescription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, ullam!</h4>
        </a>
    </div>
</div>