

.dashboardCnt{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dashboard-items_table{
    padding: 20px;
}


/* referente a los iconos */
.itemIconCnt img{
    width: 350px;
    height: 350px;
    object-fit: cover;
}


/* referente a las cards */

.dashboard-itemsCnt{
    display: flex;
    justify-content: space-around;
}

.dashboard-items{
    padding: 20px;  
    margin: 10px;
    box-sizing: border-box;
    width: 400px;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

.dashboard-items:hover{
    cursor: pointer; 
    border: .1px black solid;   
    border-radius: 5px;
}




