<nav class="navbar-menu-Cnt">

    <div class="navbar-menu_iconCnt">
        <div class="navbar-menu-imgcontainer">
            <a href="" class="navbar-menu_linkIcon">
                <img src="https://www.politecnicojic.edu.co/images/logo/logo.png" alt="" class="navbar-menu_iconImg">
            </a>      
        </div>
        <div class="navbar-menu_UserInfo" *ngIf="loggedService.getIsLogged() || this.isLogged==true">
            <span (click)="logOut()" class="navbar-menu_logOut">Cerrar sesion</span>
        </div>      
    </div>
    
</nav>