nav{
    background-color: #2A4723;
    width: 100%;
}

.navbar-menu_iconCnt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.navbar-menu_itemsCnt{
    width: 100%;
    
    background-color: white;
}

 
.navbar-menu_iconImg{
    width: 300px;
    padding: 10px;
}


.navbar-menu_UserInfo{
    display: flex;
    align-items: center;
    padding-right: 100px;
}

.navbar-menu_logOut{
    background-color: white;
    color: black;
    padding: 15px;
}

.navbar-menu_logOut:hover{
    cursor: pointer;
}