h2 {
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input {
    padding: 5px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #23527c;
  }

  .userInputsCnt input{
    width: 100%;
  }

  /*CONTENEDORES*/
  .loginCnt{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .loginFormContainer{
    padding: 20px;
    margin-top: 20px ;
    border-radius: 10px;
    background-color: #2a4723;
    border: .5px solid black;
    width: 500px;
  }