<div *ngIf="this.loggedService.getIsLogged()==false" class="loginCnt">
  <div class="loginFormContainer">
    <h2>Iniciar sesión</h2>
    <form (ngSubmit)="onSubmit()">
      <table>
        <tbody>
          <tr>
            <td>
              <label for="username">Nombre de usuario:</label>
            </td>
            <td class="userInputsCnt">
              <input type="text" id="username" [(ngModel)]="username" name="username" required>
            </td>
          </tr>
          <tr>
            <td>
              <label for="password">Contraseña:</label>
            </td>
            <td class="userInputsCnt">
              <input type="password" id="password" [(ngModel)]="password" name="password" required>
            </td>
          </tr>
        </tbody>
      </table>

      <button type="submit">Iniciar sesión</button>
      <br>
      <button (click)="signInWithGoogle()">Iniciar sesión con Google</button>
    </form>
  </div>
</div>