<div class="informacionPersonalExtraCnt">

    <div class="InformacionPersonalTitle">
        <h2>Completa tu registro</h2>
        <p>Necesitamos esta informacion para completar tu perfil</p>
    </div>

    <form (ngSubmit)="registrar()">

        <table>
            <tbody>
                <tr class="rowFormGroupInformacionPersonal">
                    <td class="inputInformacionPersonalCnt">
                        <input name="documento" type="text" placeholder="Documento" [(ngModel)]="informacionPersonal.documento">
                    </td>
                    <td class="inputInformacionPersonalCnt">
                        <input type="text" name="nombre" placeholder="Nombre" [(ngModel)]="informacionPersonal.nombre">
                    </td>
                    <td class="inputInformacionPersonalCnt">
                        <input type="text" name="apellido" placeholder="Apellido" [(ngModel)]="informacionPersonal.apellido">
                    </td>
                </tr>

                <tr class="rowFormGroupInformacionPersonal">
                    <td class="inputInformacionPersonalCnt">
                        <input type="text" placeholder="Celular"  name="celular" [(ngModel)]="informacionPersonal.celular">
                    </td>
                    <td class="inputInformacionPersonalCnt">
                        <input type="date" name="naciemiento" placeholder="Fecha de nacimiento" [(ngModel)]="informacionPersonal.nacimiento">
                    </td>
                    <td class="inputInformacionPersonalCnt">
                        <select name="seo" id="" [(ngModel)]="informacionPersonal.sexo">
                            <option [value]="" selected disabled>Selecciona tu sexo</option>
                            <option [value]="1" >Masculino</option>
                            <option [value]="2" >Femenino</option>
                        </select>
                    </td>
                </tr>

                <tr class="rowFormGroupInformacionPersonal">
                    <td class="inputInformacionPersonalCnt">
                        <select name="eps" id="" [(ngModel)]="informacionPersonal.eps">
                            <option [value]="" selected disabled>Selecciona tu eps</option>
                            <option [value]="1" >SaludTotal</option>
                            <option [value]="2" >Sura</option>
                        </select>
                    </td>
                    <td class="inputInformacionPersonalCnt">
                        <select name="rh" id="" [(ngModel)]="informacionPersonal.rh">
                            <option [value]="" selected disabled>Selecciona tu rh</option>
                            <option [value]="1" >A-</option>
                            <option [value]="2" >A+</option>
                            <option [value]="3" >AB-</option>
                            <option [value]="4" >AB+</option>
                            <option [value]="5" >O-</option>
                            <option [value]="6" >O+</option>
                        </select>
                    </td>
                    <td class="inputInformacionPersonalCnt">
                        <input type="text" name="contacto" placeholder="Tel Contacto" [(ngModel)]="informacionPersonal.contacto">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        
                        <button type="submit">Registrar</button>
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>



    </form>


</div>