
<div class="informacionPersonalExtraCnt">

    <form action="" (ngSubmit)="onSubmit()">
        
        <table>
            <tbody>
                <tr  class="rowFormGroupInformacionPersonal">
                    <td class="inputInformacionPersonalCnt">
                        <input type="text" placeholder="Documento" [(ngModel)]="documento">
                    </td>
                    <td class="inputInformacionPersonalCnt">
                        <input type="text" placeholder="Nombre" [(ngModel)]="nombre">
                    </td>
                    <td class="inputInformacionPersonalCnt">
                        <input type="text" placeholder="Apellido" [(ngModel)]="apellido">
                    </td>
                </tr>

                <tr class="rowFormGroupInformacionPersonal">
                    <td class="inputInformacionPersonalCnt">
                        <input type="text" placeholder="Celular" [(ngModel)]="celular">
                    </td>
                    <td class="inputInformacionPersonalCnt">
                        <input type="date" placeholder="Fecha de nacimiento" [(ngModel)]="nacimiento">
                    </td>
                    <td class="inputInformacionPersonalCnt">
                        <input type="text" placeholder="Sexo" [(ngModel)]="sexo">
                    </td>
                </tr>

                <tr class="rowFormGroupInformacionPersonal">
                    <td class="inputInformacionPersonalCnt">
                        <input type="text" placeholder="EPS" [(ngModel)]="eps">
                    </td>
                    <td class="inputInformacionPersonalCnt">
                        <input type="text" placeholder="RH" [(ngModel)]="rh">
                    </td>
                    <td class="inputInformacionPersonalCnt">
                        <input type="text" placeholder="Tel Contacto" [(ngModel)]="contacto">
                    </td>
                </tr>
            </tbody>
        </table>



    </form>


</div>